version: '3.8'

services:

  postgres:
    image: postgres:15-alpine
    container_name: pixelhub-postgres
    environment:
      POSTGRES_DB: pixelhub
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 30s
      timeout: 10s
      retries: 3


  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: pixelhub-backend
    environment:
#      SPRING_DATASOURCE_URL: jdbc:postgresql://localhost:5432/pixelhub
#      SPRING_DATASOURCE_USERNAME: postgres
#      SPRING_DATASOURCE_PASSWORD: postgres
      DB_USERNAME: postgres
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 3


  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: pixelhub-frontend
    ports:
      - "4200:80"
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge